* {
    margin: 0%;
    border: 0;
}
body{

    background-color: #95161668;
}

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport height */
}

.dias {
    display: flex;
    flex-direction: row; /* Alinea los días en fila */
    justify-content: space-around; /* Distribuye los días uniformemente en el contenedor */
}

.Hora {
    display: flex;
    flex-direction: column; /* Alinea los horarios en columna */
    align-items: center; /* Centra horizontalmente los horarios */
    margin: 10px; /* Agrega margen a los lados de cada día */
}

.horarios {
    display: flex; /* Utiliza flexbox para los horarios */
    flex-direction: column; /* Alinea los horarios en columna */
    align-items: center; /* Centra horizontalmente los horarios */
    margin: 35px; /* Agrega espacio entre los días y los horarios */
}

.horario {
    margin: 10px; /* Agrega espacio entre los horarios */
}